{# Copyright (c) 2019 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block content %}
  {% block settings %}{% endblock %}

  <div class="divider"></div>

  <a href="/settings">Back to main Settings page</a>
{% endblock %}
